html {
    font-size: 62.5%; // 1rem is 10px
    width: 100vw;
    height: 100vh;
}

$clr-primary: #18ffff;
$clr-primary-light: #adffff;
$clr-primary-dark: #091034;
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
$clr-bg: #060b23;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: "Roboto", sans-serif;
}

body {
    overflow-x: hidden;
    font-weight: normal;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;

    font-family: "Convergence", sans-serif;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background: #243b55;
}

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__links {
        transform: translateY(19px);
    }
    &__link {
        flex: 1 1 auto;
        margin: 30px;
        font-size: 14px;
        text-decoration: none;
        padding: 20px;
        border: 2px solid #f7f7f7;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        position: relative;

        overflow: hidden;
        color: #fff;
        transition: 0.3s;
        width: 150px;

        &:hover {
            cursor: pointer;
            border-radius: 30px;
        }

        &:active {
            color: #03e9f4;
            border: 2px solid #03e9f4;
            border-radius: 30px;
        }
    }
}

@media all and (max-width: 600px) {
    .app {
        &__link {
            margin: 18px;
        }
    }
}

@media all and (max-width: 320px) {
    .app {
        &__link {
            margin: 5px;
        }
    }
}

@import "./Carousel.scss";
@import "./Auth.scss";
@import "./Profile.scss";
@import "./Post.scss";
@import "./Home.scss";
@import "./NotFound.scss";
