.profile {
    &__title {
        font-size: 30px;
        color: $clr-gray100;
    }

    &__posts {
        border-radius: 5px;
        // box-shadow: 0 2px 15px 0 rgb(0, 0, 9%);
        padding: 21px;
    }

    &__post {
        width: 370px;
        height: 513px;
        text-align: center;

        background-color: transparent;
        border: none;
        letter-spacing: 3px;

        &__img {
            width: 100%;
            height: 284px;
            margin-bottom: 25px;
            border-radius: 25px;
        }
    }

    &__btn {
        flex: 1 1 auto;
        margin: 10px;
        padding: 20px;
        border: 2px solid #f7f7f7;
        background-color: transparent;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;
        color: #fff;
        transition: 0.3s;
        width: 150px;
        &__lrg {
            margin: 10px;
            padding: 20px;
            border: 2px solid #f7f7f7;
            background-color: transparent;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            overflow: hidden;
            color: #fff;
            transition: 0.3s;
            width: 150px;

            &:hover {
                cursor: pointer;
                border-radius: 30px;
            }

            &:active {
                color: #03e9f4;
                border: 2px solid #03e9f4;
                border-radius: 30px;
            }
        }

        &:hover {
            cursor: pointer;
            border-radius: 30px;
        }

        &:active {
            color: #03e9f4;
            border: 2px solid #03e9f4;
            border-radius: 30px;
        }
    }
}

// @media all and (max-width: 768px) {
//     .profile {
//         &__btn {
//             transform: translate(119px, 33px);
//         }

//         &__post {
//             width: 328px;
//         }

//         &__grid {
//             display: grid;
//             grid-template-columns: 1fr;
//         }
//     }

//     .title {
//         transform: translate(13px, 18px);
//         text-align: center;
//     }

//     .title-2 {
//         transform: translate(11px, 22px);
//         text-align: center;
//     }
// }

@media all and (max-width: 1444px) {
    .profile {
        &__btn {
        }

        &__post {
            width: 328px;
        }

        &__grid {
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    .title {
        text-align: center;
    }

    .title-2 {
        transform: translate(9px, 22px);
        text-align: center;
    }
}
@media all and (max-width: 375px) {
    .profile {
        &__btn {
            transform: translate(86px, 33px);
        }
    }
    .posts__grid__sm {
        display: grid;
        grid-template-columns: 1fr;
    }
}
@media all and (max-width: 320px) {
    .profile {
        &__btn {
            transform: translate(56px, 33px);
        }
        &__post {
            width: 260px;

            &__img {
                transform: translateX(-20px);
                width: 300px;
            }
        }
    }

    .posts__grid__sm {
        display: grid;
        grid-template-columns: 1fr;
        transform: translate(10px, 10px);
    }
}

@media all and (max-width: 425px) {
    .profile {
        &__btn {
            transform: translate(86px, 33px);
        }
    }

    .title {
        transform: translate(16px, 18px);
    }
}

@media all and (min-width: 768px) {
    .profile {
        &__btn {
            transform: translate(267px, 33px);
        }
    }

    .posts__grid__md {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.posts__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
